$warning-color: red;

.scroll-up {
  border: none;
  background-color: transparent;
  font-size: 3em;
  cursor: pointer;
  position: fixed;
  left: 89vw;
  bottom: 1vh;
}

.scroll-up > i {
  color: $warning-color;
}
