/* The header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body */
$primary-color: #e66400;
$mobile-color: #4056A1;
$font-default: 'Source Sans Pro', sans-serif;

.profile {
  margin-top: 120px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
}

.profile > div > img {
  padding-top: 1em;
}

.profile > div > h2 {
  font-family: $font-default;
  font-style: italic;
  font-weight: bold;
  color: white;
}
