$font-stack: 'Bungee', sans-serif;
$font-default: 'Source Sans Pro', sans-serif;
$primary-color: #e66400;
$mobile-color: #4056A1;

nav {
  display: flex;
  flex-direction: row;
  height: 120px;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  background-color: $primary-color;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
}

.logo > span {
  font-family: $font-stack;
  font-size: 2em;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font: $font-default;
}

.arrow-button {
  color: red;
  display:flex;
  justify-content: center;
  background-color: $primary-color;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: $mobile-color;
    background-image: none;
  }
  .arrow-button {
    background-color: $mobile-color;
  }
}
/* Full width of the viewport
#4056A1 as its default background colour ***
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */