$font-default: 'Source Sans Pro', sans-serif;
$font-stack: 'Bungee', sans-serif;
$warning-color: red;
$mobile-color: #4056A1;


.new-tweet {
  font-family: $font-default;
  font-size: 24px;
  padding-bottom: 1em;
  width: 100%;
}

#tweet-text {
  border: none;
  border-bottom: 4px solid black;
  width: 100%;
  background: none;
  margin-top: 1em;
}

.redWarning {
  color: $warning-color
}

.new-tweet textarea::placeholder {
  font-size: 1.2em;
  font-weight: bolder;
  padding: 5px;
}

.submitbtn {
  display: flex;
  justify-content: space-between;
  font-family: $font-stack;
  font-size: 1em;
}

.tweet-btn {
  background-color: $mobile-color;
  color: white;
  cursor: pointer;
}

.error-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 1em;
}

.error-container > i {
  color: $warning-color;
  font-size: 24px;
}
