.new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  padding: 1em;
}

#tweet-text {
  border: none;
  border-bottom: 4px solid black;
  width: 90vw;
  background: none;
  margin-top: 1em;
}

.redWarning {
  color: red;
}

.new-tweet textarea::placeholder {
  font-size: 1.2em;
  font-weight: bolder;
  padding: 5px;
}

.submitbtn {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 1em;
}

button {
  background-color: #4056A1;
  color: white;
  cursor: pointer;
}

.error-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.error-container > i {
  color: red;
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  .new-tweet {
    display: flex;
    margin-top: 8em;
  }
  #submit-new-tweet {
    margin-left: -1em;
  }
}